@font-face {
  font-family: 'Arial Regular';
  src: url('ArialMT.eot');
  src: url('../fonts/ArialMT.woff') format('woff'),
  url('../fonts/ArialMT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Bold';
  src: url('Arial-BoldMT.eot');
  src: url('../fonts/Arial-BoldMT.woff') format('woff'),
  url('../fonts/Arial-BoldMT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}