@media screen and ( max-width: 1200px )
  html
     font-size: 14px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title 
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and ( max-width: 375px )
  .container
    width: 90% 
    max-height: 400px 
  .menu
    &__logo
      font-size: 0.835rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
      font-size: 0.835rem
    &__button
      display: none
  .title 
    font-weight: normal
    font-size: 1.59rem
    line-height: 132.83%
  .hero
    max-height: 476px
    &__scroll-down
      display: none
    &__content
      max-width: 22.3rem
    &__text
      font-size: 1.25rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 23.5rem
      margin-bottom: 1.85rem
      border-radius: 0
.card
  &__list
    line-height: 1.58rem
    &--design
      padding: 0 0 0 0.9rem
      margin-bottom: 0.8rem
      line-height: 171%
      font-size: 0.9rem
  &__title
    margin-bottom: 0.5rem
    font-size: 1.05rem
    font-weight: normal
    &--design
      margin-bottom: 0.8rem
  &__pricetag
    padding: 0.7rem 2.15rem
    font-size: 1.1rem
    font-weight: normal
    &--design
      padding: 0.75rem 3.2rem
@media screen and ( max-height: 510px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5.642rem
.card
  &__text
    margin-left: 0
@media screen and ( min-width: 760px )
  .row
    flex-direction: row
    justify-content: space-between
  .card 
    flex-basis: 32%
    &__text
      margin: 0 auto
      margin-top: -9.3rem
  .design
    background-color: $light
  .section-title
    &__heading
      color: $dark
      font-size: 1.428rem
    &__description
      color: $dark
      max-width: 52.92rem
  
    