.design
  padding-bottom: 30rem
  &__section-title
    margin-bottom: 3.2rem
.section-title
  &__description
    max-width: 52rem
    margin: auto
    margin-top: 1.35rem
    font-size: 1.42rem
    line-height: 135.84%
.card
  &__pricetag
    &--design
      padding: 1.2rem 5.8rem 1.2rem 2.4rem

  
  